
.navbarspecifications {

    font-size: 18px;
    font-family: 'Playfair Display SC', serif;
    color:#FFFFFF;

}


body {

    /* Establece márgenes y bordes cero para trabajar sólo con padding */
    margin: 0;
    border: 0;
    /* Alineación centrada por defecto */
    text-align: center;
    /* Color de letras #FFFFFF por defecto */
    color: #FFFFFF;
    /* Familia de letras desde Google Fonts por defecto */
    font-family: 'Playfair Display SC', serif;

}

.vcpresentation {

    /* Class para elementos de la presentación de la página */
    background-color: #000000;
    font-size: xx-large;
    text-align: justify;
    color:#FFFFFF;
    font-family: 'Playfair Display SC', serif;

}

.about-text {

    /* Class para descriptores de la presentación */
    font-size: medium;
    font-family: 'Playfair Display SC', serif;


}

-header-icons {
    
    /* Class para íconos de sección de presentación */
    font-size:xx-large;
    background-color: #17A2B8;
    font-family: 'Playfair Display SC', serif;


}

.vchighlights {

    /* Class para elementos de la sección de Destacados de la página */
    background-color: #000000;
    font-size: xx-large;
    text-align: center;
    color:#FFFFFF;
    font-family: 'Playfair Display SC', serif;

}

.card-text {

    font-size: medium;
    text-align: justify;
    font-family: 'Playfair Display SC', serif;


}

.card-title {

    font-size: large;
    font-family: 'Playfair Display SC', serif;

}

footer {

    /* Class para elementos del pie de página */
    font-size: xxx-large;
    background-color: #17A2B8;
    font-family: 'Playfair Display SC', serif;

}

.icons-section {

    font-size: 24px;
    width: 100%;
    padding: 20px;
    
  }